<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
   <h1>HAR HAR MAHADEV</h1>
<a style="text-decoration: none;" href="add">Add Data</a>
<a style="text-decoration: none;" href="todo">Read Data</a>
<a style="text-decoration: none;" href="delete/2">delete Data</a>

<a style="text-decoration: none;" href="update/3">update Data</a>
<!-- 
{% if all|length %}  all|length  ham |=pipe operator ke baad ke baad
ham koi filter likhte hai aur vo hame koi kaam krkke dega'
   
{% else %} else ki end nhi hoti hai usse ham if ki end se pjhle use krenge
{% endif %} -->

</body>
</html>